.clients {
    @extend %section;
}
.clients .title {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.clients .list {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.clients-items {
    width: 170px;
    height: 92px;
    display: flex;
    padding: 16px 32px;
    border-radius: 4px;
    color: rgba(175, 177, 184, 1);
    background-color: #FFFFFF;
    border: rgba(175, 177, 184, 1) 1px solid;
    cursor: pointer;

    transition: color var(--anim-fast), border var(--anim-fast);
}

.clients-items:hover,
.clients-items:focus {
    border: var(--first-logo-color) 1px solid;
    color: var(--first-logo-color);
}