.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);

    transition: opacity var(--anim-fast), visibility var(--anim-fast);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity var(--anim-fast), visibility var(--anim-fast);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;

    padding: 40px;

    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform var(--anim-fast), opacity var(--anim-fast);

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -50%);
    ;
}

.modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;


    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.modal-icon {
    fill: rgba(0, 0, 0, 1);
}

.modal-icon:hover {
    transition: fill var(--anim-fast);
}

.modal .modal-icon:hover {
    fill: var(--first-logo-color);
}

.modal-form-group {
    margin-bottom: 20px;
}

.modal-lebel {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px;
    ;
}

.modal-form-label {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: var(--link-color);
    margin-bottom: 4px;
}

.modal-form-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.modal-form-field {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 15px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline-offset: -1px;
    outline: 1px transparent;
    transition: border var(--anim-fast), box-shadow var(--anim-fast);
}

.modal-form-field:focus {
    border: 1px solid rgba(33, 150, 243, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);

    transition: fill var(--anim-fast);
}

.modal-form-field:focus+.modal-form-icon {
    fill: var(--first-logo-color);
}

.modal-form-coment {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline-offset: -1px;
    outline: 1px transparent;
    transition: border var(--anim-fast), box-shadow var(--anim-fast);
    resize: none;
}


.modal-form-coment:focus {
    border: 1px solid rgba(33, 150, 243, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-form-agreement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-bottom: 30px;
}

.modal-form-agreement-desc {
    font-size: 12px;
    line-height: 14px;
    color: var(--link-color);
    user-select: none;

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 24px;
    }
}

.modal-form-agreement-link {
    color: var(--first-logo-color);
    text-underline-offset: 2px;
}

.modal-form-checkbox {
    appearance: none;
    width: 16px;
    height: 15px;

    outline: 2px solid transparent;
    outline-offset: -2px;
    border: 2px solid var(--text-color);
    border-radius: 2px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;

    transition: background-size var(--anim-fast),
        background-color var(--anim-fast),
        outline-color var(--anim-fast);
}

.modal-form-checkbox:checked {
    outline-color: var(--first-logo-color);
    background-color: var(--first-logo-color);
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
    background-size: 11px 8px;
}

.modal-form-btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--first-bg-color);
    border-style: none;
    background-color: var(--first-logo-color);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    transition: background-color var(--anim-fast);
}

.modal-form-btn:hover {
    background-color: #188CE8;
}