:root {
    --main-text-color: #F5F4FA;
    --link-color: #757575;
    --text-color: #212121;
    --title-colour: #000;
    --first-bg-color: #FFFFFF;
    --second-bg-color: #F5F4FA;
    --third-bg-color: #f5f4fa;
    --first-logo-color: #2196F3;
    --border-color: #ececec;
    --portfolio-border-color: #eee;
    --footer-adress-color: rgba(255, 255, 255, 0.6);
    --main-bg-color: #2f303a;

    --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}